*,
*::before,
*::after {
    box-sizing: border-box;
}


.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    gap: 24px;
}