*,
*::before,
*::after {
    box-sizing: border-box;
}


.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    gap: 24px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 260px;
    justify-self: center;
    background: rgba(59, 131, 246, 0.185);
    border-bottom: 1px solid rgba(59, 131, 246, 0.24);
    border-radius: 8px;
}


.navbar-container>* {
    max-width: 1100px;
    margin: 0 auto;
    padding: 12px 20px;
    display: flex;
    align-items: center;
}